#main-page{
    height: 140vh;
    width: 50vw;
    margin: auto;
    justify-content: center;
    background-color: #fff;
}

#top-bar{
    height: 20vh;
    width: 50vw;
    background-color: #ced7df;
    padding-top: 8vh;
}

#image{
    border-radius: 100%;
    display: block;
    margin: auto;
    align-items: center;
    height: 15em;
}

.name{
    font-size: 32px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    padding: 10px;
}

.heading{
    font-family:  cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0;
}

hr{
    margin-top: 200px;
    width: 80%;
    color: #ced7df;
}

.left-div{
    padding: 30px;
    padding-left: 46px;
    padding-right: 10px;
    /* width: 446.183px; */
    /* border-right: 2px solid #ced7df; */
    margin-right: 37px;
}

.right-div{
    /* float: right; */
    /* position: fixed; */
    /* padding: 30px; */
    padding-right: 20px;
    width: 302.417;
}


.section{
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content{
    margin-top: -14px;
    text-align: center;
}

.projects{
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
}
